<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Kanit:wght@300&display=swap" rel="stylesheet">

		<link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
		<link href="/fontawesome/css/brands.css" rel="stylesheet">
		<link href="/fontawesome/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="tailwind.css">
		<title>Todo App</title>
	</head>
	<body class="bg-gray-800 p-5">
		{% block content %}{% endblock %}
	</body>
</html>