{% extends "base.html" %}

{% block content %}
	<div class="container mx-auto">
		<div class="mb-4">
			<h2 class="font-bold text-center text-gray-500">To-Do App</h2>
		</div>
		<div>
			<h3 class="p-0 m-0 inline-block align-bottom leading-none text-gray-500">Todo:</h3>
			<div class="bg-gray-900 w-full h-1 rounded-full"></div>
			<form class="hover:shadow-xl hover:bottom-[1px] hover:relative flex mt-1 mb-2 rounded bg-gray-700 p-2 place-items-center" method="POST">
				<span class="h-6 w-6 rounded shadow-inner-all shadow-gray-700 border-2 border-transparent border-gray-900 bg-gray-800 text-gray-700" content-center><i class='fa fa-plus h-full w-full flex place-content-center'></i></span>
				<label class="align-middle mx-2 opacity-40 cursor-pointer w-full" onClick="edit(this.parentNode)">Add todo...</label>
				<input name="text" type="text" class="input border rounded bg-inherit hidden w-full displa align-middle mx-2 p-1 opacity-40 cursor-pointer"></label>
				<button class="button h-8 w-8 ml-auto hidden" name="create" type="submit"><i class="fa-solid fa-check text-gray-500 text-xl"></i></button>
			</form>
			{% for todo in todos %}
				<form class="hover:shadow-xl hover:bottom-[1px] hover:relative flex my-1 rounded bg-gray-700 p-2 place-items-center" method="POST">
					<button class="h-6 w-6 rounded shadow-inner-all shadow-gray-700 border-2 border-transparent border-gray-900 bg-gray-800 align-middle text-center" name="do" type="submit"></button>
					<label class="align-middle pl-2 text-gray-500">{{ todo.text }}</label>
					<i class="pl-1 cursor-pointer fa-solid fa-pen-to-square image text-gray-500 text-xl" onClick="edit(this.parentNode)"></i>
					<input class="" type="hidden" name="id" value="{{ todo.id }}"/>
					<input name="text" type="text" class="input border rounded bg-inherit hidden w-full displa align-middle mx-2 p-1 opacity-40 cursor-pointer"></label>
					<button class="button h-8 w-8 ml-auto hidden" name="edit" type="submit"><i class="fa-solid fa-check text-gray-500 text-xl"></i></button>
					<button class="button2 h-8 w-8 ml-auto" name="delete" type="submit"><i class="fa-solid fa-trash text-gray-500 text-xl"></i></button>
				</form>
			{% endfor %}
		</div>
		<div>
			<h3 class="mt-2 inline-block align-bottom leading-none text-gray-500">Done:</h3>
			<div class="bg-gray-900 w-full h-1 rounded-full"></div>
			{% if done|length != 0 %}
				{% for todo in done %}
					<form class="hover:shadow-xl hover:bottom-[1px] hover:relative flex my-1 rounded bg-gray-700 p-2 place-items-center" method="POST">
						<button class="h-6 w-6 rounded shadow-inner-all shadow-gray-700 border-2 border-transparent border-gray-900 bg-gray-800 align-middle text-center" name="undo" type="submit"><i class="fa-solid fa-check h-full w-full text-gray-700 text-xl flex place-items-center"></i></button>
						<label class="align-middle pl-2 text-gray-500">{{ todo.text }}</label>
						<input class="" type="hidden" name="id" value="{{ todo.id }}"/>
						<button class="h-8 w-8 ml-auto" name="delete" type="submit"><i class="fa-solid fa-trash text-gray-500 text-xl"></i></button>
					</form>
				{% endfor %}
			{% else %}
				<h5 class="mt-4 inline-block align-bottom leading-none text-gray-500 text-center w-full">There is nothing here, you should do something :)</h3>
			{% endif %}
		</div>
	</div>
	<script>
		function edit(target) {
			label = target.getElementsByTagName("label")[0];
			input = target.getElementsByClassName("input")[0];
			button = target.getElementsByClassName("button")[0];

			image = target.getElementsByClassName("image")[0];
			button2 = target.getElementsByClassName("button2")[0];

			if(image != undefined){
				image.style.display = 'none';
			}
			if(button2 != undefined){
				button2.style.display = 'none';
			}
			input.value = label.innerText;
			label.style.display = 'none';
			input.style.display = 'inline';
			button.style.display = 'inline';
			input.selectionStart = input.selectionEnd = input.value.length;
			input.focus();
		}
	</script>
{% endblock %}